/* Tasks from 54 to 56 */

/* Assignment 1 */

.elzero {
    width: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 20%;
    top: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 70px;
    background-color: #eee;
    border-right: 10px solid purple;
    border-left: 10px solid rgb(146, 23, 23);

}

.elzero::first-letter {
    content: "";
    display: inline-block;
    color: red;
}

.elzero::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 640px;
    background-color: red;
    height: 10px;
    background-image: linear-gradient(to right, rgb(146, 23, 23) 20%,
            rgb(0, 217, 255) 20%, rgb(0, 217, 255) 40%, green 40%, green 60%,
            rgb(214, 31, 62) 60%, rgb(214, 31, 62) 80%, purple 80%, purple 100%);
}

.elzero::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 640px;
    background-color: red;
    height: 10px;
    background-image: linear-gradient(to right, rgb(146, 23, 23) 20%,
            rgb(0, 217, 255) 20%, rgb(0, 217, 255) 40%, green 40%, green 60%,
            rgb(214, 31, 62) 60%, rgb(214, 31, 62) 80%, purple 80%, purple 100%);
}


/* Assignment 2 */
.parent,
.parent div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.parent {
    position: relative;
    left: 25%;
    top: 90px;
}

.parent input {
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    width: 600px;
    font-size: 25px;
    background-color: #eee;
    caret-color: red;
}

.parent div::before {
    content: "";
    position: absolute;
    width: 640px;
    height: 5px;
    margin-top: 65px;
    background-image: linear-gradient(to right,
            red 50%,
            rgb(5, 86, 153) 50%);
}

.parent input:focus {
    outline: none;
}

/*************************************************************************************************/
/* Tasks from 57 to 64 */
/* Assignment 1 */
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    row-gap: 20px;
    column-gap: 20px;
}

.grid div {
    background-color: rgb(85, 85, 85);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    justify-content: center;
}

/* Assignment 2 */
.layout {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "h h h h h h h h h h"
        "sec sec sec sec sec sec sec aside aside aside"
        "footer footer footer footer footer footer footer footer footer footer ";
}

.layout header {
    grid-area: h;
    background-color: rgb(79, 168, 190);
    position: relative;
}

.layout section {
    grid-area: sec;
    background-color: orangered;
    position: relative;

}

.layout aside {
    grid-area: aside;
    background-color: rgb(172, 172, 172);
    position: relative;

}

.layout footer {
    grid-area: footer;
    background-color: darkcyan;
    position: relative;

}

.layout header::before {
    content: "Header";
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
}

.layout section::before {
    content: "section";
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
}

.layout aside::before {
    content: "aside";
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
}

.layout footer::before {
    content: "footer";
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Assignment 3 */
.grid2 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 30px 340px 340px 30px;
    grid-template-rows: 80% 10%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
}

.grid2 div {
    color: white;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: dimgray;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Assignment 4 */

.grid3 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid3 div {
    background-color: rgb(0, 183, 255);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.grid3 .one {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 7;
}

.grid3 .two {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid3 .three {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}

.grid3 .four {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid3 .five {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 7;
}

.grid3 .six {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid3 .seven {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid3 .eight {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}


/* Assignment 5 */

.grid4 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    align-content: space-between;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
}

.grid4 div {
    background-color: rgb(255, 7, 90);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


/*************************************************************************************************/
/* Tasks from 65 to 67 */
/* Assignment 1 */

.task65 {
    box-sizing: border-box;
    background-color: #ddd;
    padding: 20px;
    width: 600px;
    height: 400px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 600;
    color: rgb(67, 184, 184);
    position: relative;
}

.task65::before {
    content: "";
    position: absolute;
    background-color: rgb(67, 184, 184);
    width: 100%;
    height: 100%;
    transform: rotate(-5deg);
    z-index: -1;
}

.task65::after {
    content: "";
    position: absolute;
    background-color: rgb(177, 51, 160);
    width: 100%;
    height: 100%;
    transform: rotate(5deg);
    z-index: -2;
}


/* Assignment 2 */
.task66 {
    background-color: #ddd;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
    border-radius: 50%;
    position: relative;
}

.task66::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(177, 51, 160) rgb(177, 51, 160) rgb(177, 51, 160) transparent;
}

.task66::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(67, 184, 184) transparent rgb(67, 184, 184) rgb(67, 184, 184);
}


/* Assignment 3 */
.task67 {
    background-color: #ddd;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
    border-radius: 50%;
    position: relative;
}

.task67::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid;
    transition: 0.5s;
    border-color: rgb(177, 51, 160) rgb(177, 51, 160) rgb(177, 51, 160) transparent;
}

.task67::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 10px solid;
    transform: 0.5s;
    transition-delay: 0.5s;
    border-color: rgb(67, 184, 184) transparent rgb(67, 184, 184) rgb(67, 184, 184);
}

.task67:hover::after {
    transform: rotate(1turn);
}

.task67:hover::before {
    transform: rotate(1turn);
}

/*************************************************************************************************/
/* Tasks from 68 to 73 */
/* Assignment 1 */
.task68 {
    width: 150px;
    color: white;
    background-color: orangered;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    position: relative;
}

.task68::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: orangered;
    transform: skew(10deg, 10deg);
    z-index: -1;
}

.task68::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: orangered;
    transform: skew(-10deg, -10deg);
    z-index: -2;
}

/* Assignment 2 */
.task69 {
    width: 150px;
    color: white;
    text-align: center;
    background-color: rgb(67, 184, 184);
    margin: 30px auto;
    padding: 10px;
    position: relative;
}

.task69::after {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    height: 100%;
    width: 100%;
    background-color: rgb(67, 184, 184);
    transform: skew(20deg);
    z-index: -1;
}

.task69::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    height: 100%;
    width: 15%;
    background-color: rgb(67, 184, 184);
    transform: skew(20deg);
}

/* Assignment 3 */
/*
.class {
    matrix(3, 0.2679, 0, 3, 20, 100);
  }

scaleX()=>3
skewY()=>0.2679
skewX()=>0
scaleY()=>3
translateX()=>20
translateY()=>100
*/

/* Assignment 4 */
.task71 {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    box-sizing: border-box;
    border-bottom: 5px solid black;
    background-color: rgb(71, 72, 78);
    position: relative;
}

.task71::before {
    content: "Elzero";
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    bottom: 0;
    left: 0;
}

.task71::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    top: -69px;
    left: 27px;
    background-color: black;
    border-bottom: white solid 5px;
    border-left: white solid 5px;
    transform: rotate(-45deg);
}

/* Assignment 5 */
.task72 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto;
    width: 200px;
    perspective: 300px;
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    background-color: aqua;
}

.task72::after {
    content: "Front";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    backface-visibility: hidden;
    background-color: rgb(236, 100, 145);
}

.task72::before {
    content: "Back";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: rgb(85, 188, 192);
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.task72:hover {
    transform: rotateY(-180deg);
}

.task73 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto;
    width: 200px;
    perspective: 300px;
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    background-color: aqua;
}

.task73::after {
    content: "Front";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    backface-visibility: hidden;
    background-color: rgb(236, 100, 145);
}

.task73::before {
    content: "Back";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: rgb(85, 188, 192);
    transform: rotateX(180deg);
    backface-visibility: hidden;
}

.task73:hover {
    transform: rotateX(-180deg);
}


/*************************************************************************************************/
/* Tasks from 74 to 77 */
/* Assignment 1 */
.task74 {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(236, 100, 145) transparent rgb(236, 100, 145) rgb(236, 100, 145);
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.task74:hover {
    animation-play-state: paused;
}

.task74::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid;
    border-color: aqua aqua aqua transparent;
}

.task74::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid;
    border-color: orangered orangered transparent orangered;
}

@keyframes spin {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

/* Assignment 2 */
.task75 {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    border: 5px solid;
    border-color: aquamarine aquamarine transparent aquamarine;
    animation-name: spin2;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.task75::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid;
    border-color: orange orange transparent orange;
    animation-name: spin2;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.task75::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid;
    border-color: black black transparent black;
    animation-name: spin2;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

.task75:hover,
.task75:hover::after,
.task75:hover::before {
    animation-play-state: running;
}

@keyframes spin2 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

/* Assignment 3 */
.task76 {
    width: 50px;
    height: 50px;
    display: block;
    margin: 50px auto;
    background-color: #eee;
    border: 5px solid;
    border-color: black black black transparent;
    border-radius: 50%;
    animation-name: spin3;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-duration: 1s;
}

@keyframes spin3 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

/*************************************************************************************************/
/* Tasks from 78 to 82 */
/* Assignment 1 */
div.main.red {
    color: red;
}

/* Assignment 2 */
.selector> :nth-child(2) {
    color: red;
}

/* Assignment 3 */
.selector2 .baby:only-child {
    color: red;
}

/* Assignment 4 */
.selector3>div[title]:not(.no-need) {
    color: red;
}

/* Assignment 5 */
.selector4 div:nth-child(2) div {
    color: red;
}

/* Assignment 6 */
.selector5>div:not(.no-need) div:nth-last-of-type(2) {
    color: red;
}

/* Assignment 7 */
.selector6 div:nth-child(1) div:nth-last-of-type(2) {
    color: red;
}

/* Assignment 8 */
.selector7 :not(:first-child, h3, :last-child) {
    color: red;
}


/*************************************************************************************************/
/* Tasks from 83 to 85 */
/* Assignment 1 */
@media print {
    .assign-one {
        font-size: 40px;
    }
}

/* Assignment 2 */
.assign-two {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.assign-two div {
    background-color: #eee;
    padding: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.assign-two div p {
    font-size: small;
}

@media (max-width: 991px) {
    .assign-two {
        flex-wrap: wrap;
    }

    .assign-two div {
        width: 100%;
    }

    .assign-two div h4 {
        color: black;
    }
}

@media (min-width: 992px) {
    .assign-two div h4 {
        color: red;
    }

    .assign-two {
        margin: 50px auto;
        flex-wrap: wrap;
    }

    .assign-two div {
        width: calc(50% - 50px);
    }
}

@media (min-width: 1200px) {
    .assign-two div h4 {
        color: rgb(60, 145, 117);
    }

    .assign-two {
        flex-wrap: nowrap;
    }
}

/* Assignment 3 */
.assign-three {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    flex-wrap: wrap;
}

.assign-three div {
    background-color: #eee;
    padding: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.assign-three div p {
    font-size: small;
}

@media (max-width: 991px) {
    .assign-three div {
        width: 100%;
    }

    .assign-three div h4 {
        color: black;
    }
}

@media (min-width: 992px) {
    .assign-three div h4 {
        color: red;
    }

    .assign-three .one {
        width: 100%;
        padding: 0px;
    }

    .assign-three .two,
    .assign-three .three,
    .assign-three .four {
        width: 28%;
        padding: 15px;
    }
}

@media (min-width: 1200px) {
    .assign-three .one {
        width: 100%;
    }

    .assign-three .two,
    .assign-three .three {
        width: calc(50% - 50px);
    }

    .assign-three .four {
        width: 100%;
    }

    .assign-three div h4 {
        color: rgb(60, 145, 117);
    }
}

/*************************************************************************************************/
/* Tasks from 85 to 88 */
/* Assignment 1 */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position {
    margin: auto;
}

.circle-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Assignment 2 */
.arrow {
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    position: relative;
    font-size: 20px;
    background-color: #eee;
}

.arrow.top::after {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent #eee transparent;
    left: calc(50% - 20px);
    top: -30px;
}

.arrow.right::after {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent transparent #eee;
    right: -30px;
    top: calc(50% - 20px);
}

.arrow.bottom::after {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: #eee transparent transparent transparent;
    bottom: -30px;
    left: calc(50% - 20px);
}


.arrow.left::after {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent #eee transparent transparent;
    left: -30px;
    top: calc(50% - 20px);
}